html
    head
        title="Productos"
    body
        h1="Formulario Pug JS"
        form(action="/api/productos" method="post")
            div
                label(for="tittle")="Tittle"
                input(id="tittle" type="text" name="tittle")
            div 
                label(for="price")="Price"
                input(id="tittle" type="text" name="tittle")
            div 
                label(for="thumbnail")="Thumbnail"
                input(id="thumbnail" type="text" name="thumbnail")
            button="Enviar"


